@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fafafa;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}

#main {
  margin-left: 25%;
  max-width: none;
  padding: 6em 3em 3em 3em;
  width: calc(100% - 25%);
  background-color: red;
  height: 100%;
}

@media only screen and (max-width: 980px) {
  #main {
    margin: 0;
    padding: 6em 4em;
    width: 100%;
    background-color: green;
  }
}
